<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country Trade Analysis</title>
    {{ globe | safe }}
    <style>
        .pie-chart-container {
            display: block;
            /* justify-content: space-around; */
            margin-top: 20px;
        }
        .pie-chart {
            width: 100%;
        }
        .form-container {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        .year-dropdown {
            margin-right: 10px;
        }
        .submit-btn {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Country Trade Analysis by Commodity</h1>

    <!-- Form container for country selection and year dropdowns -->
    <div class="form-container">
        <!-- Country selection dropdown menu -->
        <label for="country-dropdown">Select Country:</label>
        <select id="country-dropdown" name="country">
            {% for country in country_values %}
                {% if selected_country == country %}
                    <option value="{{ country }}" selected>{{ country }}</option>
                {% else %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <!-- Start year dropdown menu -->
        <label for="start-year" class="year-dropdown">Start Year:</label>
        <select id="start-year" name="start_year" class="year-dropdown">
            {% for year in year_values %}
                <option value="{{ year }}" {% if year == selected_start_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

        <!-- End year dropdown menu -->
        <label for="end-year" class="year-dropdown">End Year:</label>
        <select id="end-year" name="end_year" class="year-dropdown">
            {% for year in year_values %}
                <option value="{{ year }}" {% if year == selected_end_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

        <!-- Submit button -->
        <button type="button" id="submit-btn" class="submit-btn">Submit</button>
    </div>

    <!-- Toggle buttons for pie charts -->
    <div>
        <input type="checkbox" id="toggle-export" name="pie-chart" value="export" checked>
        <label for="toggle-export">Export</label>
        <input type="checkbox" id="toggle-import" name="pie-chart" value="import" checked>
        <label for="toggle-import">Import</label>
    </div>

    <!-- Pie chart container -->
    <div class="pie-chart-container">
        <!-- Pie chart for export -->
        <div id="pie-chart-export" class="pie-chart" style="display: block;">
            {{ pie_chart_export | safe }}
        </div>

        <!-- Pie chart for import -->
        <div id="pie-chart-import" class="pie-chart" style="display: block;">
            {{ pie_chart_import | safe }}
        </div>
    </div>

    <script>
        // Event listener for submit button
        document.getElementById('submit-btn').addEventListener('click', function(event) {
            var selectedCountry = document.getElementById('country-dropdown').value;
            var selectedStartYear = document.getElementById('start-year').value;
            var selectedEndYear = document.getElementById('end-year').value;

            // Redirect with selected parameters
            var url = '/dashboard/country_selection/?country=' + encodeURIComponent(selectedCountry);
            url += '&start_year=' + encodeURIComponent(selectedStartYear);
            url += '&end_year=' + encodeURIComponent(selectedEndYear);
            window.location.href = url;
        });

        // Event listener for toggle buttons
        document.getElementById('toggle-export').addEventListener('change', function(event) {
            if(document.getElementById('pie-chart-export').style.display == 'block')
                document.getElementById('pie-chart-export').style.display = 'none';
            else
                document.getElementById('pie-chart-export').style.display = 'block'

        });

        document.getElementById('toggle-import').addEventListener('change', function(event) {
            if(document.getElementById('pie-chart-import').style.display == 'block')
                document.getElementById('pie-chart-import').style.display = 'none';
            else
                document.getElementById('pie-chart-import').style.display = 'block'
        });
    </script>
</body>
</html>
