{% extends "base.html" %}
{% load plotly_dash %}

{% block content %}
<h1>Country Trade Analysis by Commodity</h1>

<div style="
position: relative;
padding-bottom: 40.0%;
height: 0;
overflow:hidden;
">
<iframe id="my_iframe" src="/dash/app/dash_app/" style="
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            " frameborder="0"
    sandbox="allow-downloads allow-scripts allow-same-origin allow-modals allow-popups allow-popups-to-escape-sandbox"></iframe>
</div>

    <!-- Form container for country selection and year dropdowns -->
    <div class="form-container">
        <!-- Country selection dropdown menu -->
        <label for="country-dropdown">Select Country:</label>
        <select id="country-dropdown" name="country">
            {% for country in country_values %}
            {% if selected_country == country %}
            <option value="{{ country }}" selected>{{ country }}</option>
            {% else %}
            <option value="{{ country }}">{{ country }}</option>
            {% endif %}
            {% endfor %}
        </select>

        <!-- Start year dropdown menu -->
        <label for="start-year" class="year-dropdown">Start Year:</label>
        <select id="start-year" name="start_year" class="year-dropdown">
            {% for year in year_values %}
            <option value="{{ year }}" {% if year == selected_start_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

        <!-- End year dropdown menu -->
        <label for="end-year" class="year-dropdown">End Year:</label>
        <select id="end-year" name="end_year" class="year-dropdown">
            {% for year in year_values %}
            <option value="{{ year }}" {% if year == selected_end_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

        <!-- Submit button -->
        <button type="button" id="submit-btn" class="submit-btn">Submit</button>
    </div>

    <!-- Toggle buttons for pie charts -->
    <div>
        <input type="checkbox" id="toggle-export" name="pie-chart" value="export" checked>
        <label for="toggle-export">Export</label>
        <input type="checkbox" id="toggle-import" name="pie-chart" value="import" checked>
        <label for="toggle-import">Import</label>
        <input type="checkbox" id="toggle-race" name="race-chart" value="race">
        <label for="toggle-race">Display Bar Chart Race</label>
    </div>

    <!-- Pie chart container -->
    <div class="pie-chart-container">
        <!-- Pie chart for export -->
        <div id="pie-chart-export" class="pie-chart" style="display: block;">
            {{ pie_chart_export | safe }}
        </div>

        <!-- Pie chart for import -->
        <div id="pie-chart-import" class="pie-chart" style="display: block;">
            {{ pie_chart_import | safe }}
        </div>
    </div>

    <!-- Video container for the bar chart race -->
    <div id="race-video" class="video-container">
        Video is being prepared...
    </div>

    <script>
        // Event listener for submit button
        document.getElementById('submit-btn').addEventListener('click', function (event) {
            var selectedCountry = document.getElementById('country-dropdown').value;
            var selectedStartYear = document.getElementById('start-year').value;
            var selectedEndYear = document.getElementById('end-year').value;

            // Redirect with selected parameters
            var url = '/dashboard/country_selection/?country=' + encodeURIComponent(selectedCountry);
            url += '&start_year=' + encodeURIComponent(selectedStartYear);
            url += '&end_year=' + encodeURIComponent(selectedEndYear);
            window.location.href = url;
        });

        // Event listener for toggle buttons
        document.getElementById('toggle-export').addEventListener('change', function (event) {
            if (document.getElementById('pie-chart-export').style.display == 'block')
                document.getElementById('pie-chart-export').style.display = 'none';
            else
                document.getElementById('pie-chart-export').style.display = 'block'

        });

        document.getElementById('toggle-import').addEventListener('change', function (event) {
            if (document.getElementById('pie-chart-import').style.display == 'block')
                document.getElementById('pie-chart-import').style.display = 'none';
            else
                document.getElementById('pie-chart-import').style.display = 'block'
        });

        document.getElementById('toggle-race').addEventListener('change', function(event) {
            var raceVideo = document.getElementById('race-video');

            if (event.target.checked) {
                // Display the video container
                raceVideo.style.display = 'flex';
            } else {
                // Hide the video container
                raceVideo.style.display = 'none';
            }
        });
        var iframe = document.getElementById('my_iframe');
        // Get the iframe element

        // Wait for the iframe to load
        iframe.onload = function () {
            // Access the document inside the iframe
            var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;

            // Get the div with id 'react-entry-point'
            var reactEntryPointDiv = iframeDocument.getElementById('react-entry-point');

            // Create a MutationObserver to watch for changes in the react-entry-point div
            var observer = new MutationObserver(function (mutationsList) {
                for (var mutation of mutationsList) {
                    if (mutation.type === 'childList') {
                        // Get the selected-country div once it is available
                        var selectedCountryDiv = iframeDocument.getElementById('selected-country');
                        if (selectedCountryDiv) {

                            var observer2 = new MutationObserver(function (mutationsList2) {
                                for (var mutation2 of mutationsList2) {
                                    if (mutation2.type === 'childList') {
                                        // Trigger action when innerText of selected-country div changes
                                        observer2.disconnect();
                                        console.log('Selected country div text changed');
                                        window.location.href = '/dashboard/country_selection/?country=' + selectedCountryDiv.innerText;
                                    }
                                }
                            });

                            observer2.observe(selectedCountryDiv, { childList: true, subtree: true });
                            observer.disconnect();
                            break;
                        }
                    }
                }
            });

            // Start observing changes in the react-entry-point div
            observer.observe(reactEntryPointDiv, { childList: true, subtree: true });
        };

        var div_cleared = false;
    document.addEventListener('DOMContentLoaded', function() {
        fetch(`/dashboard/generate_video_country/?commodity=${encodeURIComponent('{{ selected_commodity }}')}&trade_type=export`)
            .then(response => response.json())
            .then(data => {
                const videoElement = document.createElement('video');
                videoElement.width = 640;
                videoElement.height = 480;
                videoElement.controls = true;

                // Set video source and attributes
                const sourceElement = document.createElement('source');
                sourceElement.src = data.video_path;
                sourceElement.type = 'video/mp4';

                // Append source element to video element
                videoElement.appendChild(sourceElement);

                // Append video element to video container
                videoContainer = document.getElementById('race-video')
                if(div_cleared == false){
                    div_cleared = true;
                    videoContainer.textContent = ''; // Clear the text content
                }
                videoContainer.appendChild(videoElement);
            });
            fetch(`/dashboard/generate_video_country/?commodity=${encodeURIComponent('{{ selected_commodity }}')}&trade_type=import`)
            .then(response => response.json())
            .then(data => {
                const videoElement = document.createElement('video');
                videoElement.width = 640;
                videoElement.height = 480;
                videoElement.controls = true;

                // Set video source and attributes
                const sourceElement = document.createElement('source');
                sourceElement.src = data.video_path;
                sourceElement.type = 'video/mp4';

                // Append source element to video element
                videoElement.appendChild(sourceElement);

                // Append video element to video container
                videoContainer = document.getElementById('race-video')
                if(div_cleared == false){
                    div_cleared = true;
                    videoContainer.textContent = ''; // Clear the text content
                } // Clear the text content
                videoContainer.appendChild(videoElement);
            });
    });
    </script>

    {% endblock content %}