<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<div class="container">
    <h1>Commodity Trade Analysis by Country</h1>

    <select id="country-dropdown" name="country" class="form-select form-select-sm" aria-label=".form-select-sm example">
        {% for country in country_values %}
            {% if selected_country == country %}
                <option value="{{ country }}" selected>{{ country }}</option>
            {% else %}
                <option value="{{ country }}">{{ country }}</option>
            {% endif %}
        {% endfor %}
    </select>

{{ pie_chart_country | safe }}
</div>
<script>
    // Event listener to trigger page reload when commodity is selected
    document.getElementById('country-dropdown').addEventListener('change', function(event) {
        var selectedCountry = this.value;
        window.location.href = '/dashboard/per_country/?country=' + encodeURIComponent(selectedCountry);
    });
    
</script>

