{% extends "base.html" %}

{% block content %}
<style>
    .form-container {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    .chart-container {
        margin-top: 20px;
    }

    .chart {
        width: 100%;
    }

    .sector-dropdown {
        width: 500px;
    }
</style>

<h1 class="p-3 text-center">Economic Sector Analysis by Company</h1>

<div class="d-flex p-3 justify-content-center flex-column">
    <!-- Form container for economic sector selection -->
    <div class="form-container m-4 justify-content-center d-flex">
        <!-- Economic sector selection dropdown menu -->
        <label class="me-2" for="sector-dropdown">Select Economic Sector:</label>
        <select id="sector-dropdown" name="sector">
            {% for sector in sector_values %}
            {% if sector == selected_sector %}
            <option value="{{ sector }}" selected>{{ sector }}</option>
            {% else %}
            <option value="{{ sector }}">{{ sector }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
</div>

<!-- Chart container -->
<div class="chart-container">
    <!-- Render the chart -->
    <div id="chart" class="chart d-flex flex-column justify-content-center">
        {{ line_chart_html | safe }}
    </div>
</div>

<!-- Chart container -->
<div class="chart-container">
    <!-- Render the chart -->
    <div id="company-chart" class="chart d-flex flex-column justify-content-center">
        {{ company_chart_html | safe }}
    </div>
</div>


<script>
    var url, sector;

    // Event listener for sector dropdown change
    document.getElementById('sector-dropdown').addEventListener('change', function (event) {
        // Show the company dropdown
        sector = document.getElementById('sector-dropdown').value;
        url = '/dashboard/trend_analysis/?sector=' + encodeURIComponent(sector)
        window.location.href = url;
    });
</script>

{% endblock content %}
